<h1 class="mat-display-1">Evaluación Osman Pérez </h1>


<mat-form-field appearance="fill">
  <mat-label>Buscar</mat-label>
  <input matInput #searchText (keyup)="applyFilter(searchText.value)">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

	<ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="n_document">
    <th mat-header-cell *matHeaderCellDef> Documento Identidad </th>
    <td mat-cell *matCellDef="let element"> {{element.n_document}} </td>
  </ng-container>

  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
  </ng-container>

  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Correo Electrónico </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="phone_number">
    <th mat-header-cell *matHeaderCellDef> Teléfono </th>
    <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
  </ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
